.services-desc {
  align-self: center;
}

/* .container:has(.ss-services-row) {
  display: flex;
  align-items: center;
} */

.feature-container {
  max-width: 25rem;
  max-height: 20rem;
}

.card-selected {
  transform: scale(0.8);
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-selected .feature-box-1 .icon {
  transform: scale(1.25);
}

.card-selected .feature-box-1 .icon i {
  transform: scale(1.25);
}

/* Feature Box

---------------------*/
.feature-box-1 {
  max-width: 20rem;
  max-height: 18rem;
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}

.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

.card-selected .feature-box-1 {
  /* height: 90%;
  width: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #771cd3;
  border-radius: 80px;
  padding: 40px 40px 40px 40px;
  background-color: white; /* Set background to white */
  box-shadow: 0 0 20px 15px rgb(138, 130, 216); /* Glowing green shadow */
  border-radius: 110px; /* Adjust as needed */
}

.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #fc5356;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  /* margin-bottom: 22px; */
  font-size: 27px;
}

.feature-box-1 .icon i {
  font-size: 30px;
  line-height: 70px;
}

.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}

.feature-box-1 p {
  margin: 0;
}

.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #20247b;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

.feature-box-1:hover {
  top: -5px;
}

.feature-box-1:hover h5 {
  color: #ffffff;
}

.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}

.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}

.selected-serv-section.section {
  padding-top: 0;
}

.section-title h2 {
  font-weight: 700;
  color: #20247b;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #fc5356;
  padding-left: 15px;
}

.feature-box-1 {
  max-width: 20rem;
  max-height: 18rem;
  padding: 32px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Symmetrical shadow */
  position: relative;
  z-index: 1;
  border-radius: 40px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}

@media only screen and (min-width: 780px) {
  .container {
    padding-left: 5rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .section-title {
    padding-bottom: 45px;
  }
  .services-row {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 2.3rem;
    height: 100%;
    width: 100%;
    margin-top: 6rem;
  }
  .section {
    padding-top: 4rem;
    position: relative;
    transition: padding-top 0.5s ease; /* Adjust the duration and timing function as needed */
    /* other styles if any */
  }
}

@media only screen and (max-width: 780px) {
  .service-section {
    padding-top: 0.5rem;
    position: relative;
    transition: padding-top 0.5s ease;
    flex-direction: column;
    max-width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 8rem;
  }

  .services-desc {
    padding-left: 1.2rem;
    align-self: flex-end;
    font-family: "Arial", sans-serif; /* Choose a modern font */
    font-size: 1.2rem; /* Adjust font size */
    color: #555; /* Choose a suitable color */
    background-color: #f9f9f9; /* Add a subtle background color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Symmetrical shadow */
  }
  .services-desc:hover {
    color: #22076d; /* Lighten or change color on hover */
    border-left-color: #6649b8; /* Accent border color changes on hover */
  }

  .services-desc h2 {
    margin: 0; /* Remove default margin */
    font-size: 2.4rem; /* Adjust font size */
  }

  .services-row {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 1.2rem;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
  }
}
